.CommentSectionContainer{
    margin-top: 55px;
    width: 100%;
    height: 470px;

<<<<<<< HEAD
    background-image: url('/sanrafael.JPG');
=======
    background-image: url('https://andalue-kou8a.ondigitalocean.app/api/images/sanrafael.JPG');
>>>>>>> 4dff238cacda2565d421d38161320da9a0966184
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: hidden;
}
.CommentSectionContainer h3{
    align-self: center;
    color: var(--fontColor-accent);
}
@media (min-width: 721px){
    .CommentSectionContainer{
        height: 420px;
    }
}

@media (min-width: 1024px){
    .CommentSectionContainer{
        height: 400px;
    }
}