.ErrorPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.error-title{
    margin-top:100px;
}
.error-imgContainer{
    margin-top: -55px;
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
}
.error-msg{
    margin: 20px;
}
.error-mail{
    margin-bottom: 15px;
}
.error-link{
    color:blue;
    
}