.loaderContainer{
    width: 100%;
    height: 100%;
    min-height: 200px;

    align-items: center;
    /* background-color: #1D1F20; */
    overflow: hidden;

    display: flex;
    justify-content: center;

}

.Spinning  {
    animation: rotate 2.5s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .Spinning:before,
  .Spinning:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .Spinning:before {
    animation: ball1 1s infinite;  
    background-color: var(--bkgColor-header);
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .Spinning:after {
    animation: ball2 1s infinite; 
    background-color: var(--bkgColor-footer);
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 var(--CTAmain-active-bkgColor);
    }
    50% {
      box-shadow: 0 0 0 var(--CTAmain-active-bkgColor);
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--CTAmain-active-bkgColor);
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 var(--CTAmain-pressed-bkgColor);
    }
    50% {
      box-shadow: 0 0 0 var(--CTAmain-pressed-bkgColor);
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--CTAmain-pressed-bkgColor);
      margin-top: 0;
    }
  }